//
//VARIABLES
//
$color-main: #000;
$color-border: lighten($color-main, 85%);
$color-text: #f7f7f7;
$color-shadow: #191919;
$color-select: darken($color-text, 30%);
$color-sel: #FCBD24;
$color-btn1: #1F3D83;
$color-btn2: #fff;
$color-hover: #2AC59F;
$font-main: 'Poppins', sans-serif;
$font-secondary: 'Nunito', sans-serif;
$font-size-base: 100%;